# general settings
settings:
  #If this url has been provided, the events notification will be sent to the webhook_url
  #You could decide the actions based on the notification accordingly.
  #Please check the available events in README.md
  webhook_url: https://google.com

  # signing key for JWT token, you should keep this value in secret place
  jwt_secret: p@ssWord0
  # JWT token will expire after {this value} seconds
  access_token_expire_sec: 3600

  # an encryption key used to encrypt service credential, should be a 32 character long hex string
  data_encryption_key: 00000000000000000000000000000000
  # license key retrieved when complete hub registration
  license_key: 0000000000000000000000000000000000000000000000000000000000000000
  vasp_code: VASPUSNY1

  # email address and password for first user in hub server
  # you can use this account to login
  admin_account: admin@<your domain>.com
  # Password should contain at least 6 letters, at least 1 number, at least 1 upper case and at least 1 special character
  admin_password: p@ssWord0
  # limit maximum concurrent requests processed by backend, more requests will be
  # please use positive value to enable, or disable with 0 or negative value
  concurrency: 100

db:
  # database configuration 
  # supported options: postgres | mysql
  driver: postgres
  user: admin
  password: p@ssWord0
  host: localhost
  # default port 
  # postgres: 5432
  # mysql: 3306
  port: 5432
  name: db

server:
  host: 0.0.0.0
  port:
  # old log will automatically compressed if this option set to true
  enable_rotate_log: true
  # allow web front-end hosted in different domain to connect to hub
  enable_cors: true
  # only take effect if enable_cors set to true
  # list of origins that are allowed to connect to hub server
  allow_origins:
    - http://localhost:8000
  # a url endpoint used when Sygna Bridge want to send you a "permission" request
  callback_host: <your callback host url>
  # url of your primary domain, used in set-cookie
  cookie_domain: <your primary domain>

google_login:
  # required only if you want to enable Google login
  # please refer to: https://developers.google.com/identity/protocols/oauth2
  id: ""
  secret: ""

log_file:
  # path for log file, you can set this value to relative or absolute path
  file_name: temp
  # max size for single log file, size in Megabytes
  # if you set to zero, default value is 100 MB
  max_size: 100
  # max log files to keep
  # default value is 30, if you set to zero, will never delete old logs
  max_backups: 30
  # how many days should we keep log files
  # default value is 30 days, if you set to zero, will never delete old logs
  max_age: 30

email_service:
  # hostname and port of your email service
  host: <your smtp url>:<port>
  # email address and password of sender
  # please input the AWS IAM user name and password if you want to use AWS SES to send email
  account: noreply@<your domain>.com # or <IAM User Name>
  password: p@ssWord0
  # name of sender, it would be useless when you enable TLS
  display_name: Hub Sender
  # prefix of subject
  subject_prefix: "[TEST]"
  # Please enable the below attributes if you want to support TLS
  # from_email: <the email address of your sender>
  # tls_support: true

frontend:
  # url of hub frontend, used in email protocol
  url: <your frontend url>

trisa_server:
  # url for TRISA gateway server, this option can be removed if you are not using TRISA
  # for example, if you are using docker-compose to setup services
  # this value should be http://trisa:8081
  url: "http://localhost:8081"
  # port and host to receive grpc message from TRISA network, default is port 443
  host: 0.0.0.0
  port: 443
  # hub server send request to trisa gateway with restful api request
  # this option change restful server listen port
  # if you change this port, url above should match
  # for example: (restful_port: 8888) -> (url: "http://localhost:8888")
  restful_port: 8081

shyft_server:
  # json rpc url of shyft relay node
  # if you're using docker-compose to setup shyft relay node, this value should not be changed
  # if you are using external provider, please make sure you are using websocket endpoint
  # http endpoint will not work properly
  rpc_url: "ws://shyft-realy:8545"
