# Settings for AWS EKS production environment.

frontend:
  ingress:
    enabled: true
    className: alb
    annotations:
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/target-type: ip
      # alb.ingress.kubernetes.io/certificate-arn: arn:aws:acm:....
      alb.ingress.kubernetes.io/group.name: sygna-hub-group
    hosts:
      - host: your-frontend.your-domain.com # Change to your domain
        paths:
          - path: /v1
            pathType: Prefix
            backend:
              service:
                name: sygna-prod-sygna-hub-hub-backend
                port:
                  number: 8080
          - path: /
            pathType: Prefix
            backend:
              service:
                name: sygna-prod-sygna-hub-hub-frontend
                port:
                  number: 80
  env:
    BACKEND_API_URL: "https://your-backend.your-domain.com/v1"

backend:
  # Ensure log persistence is disabled for cloud environment.
  ingress:
    enabled: false
  
  persistence:
    logs:
      enabled: false

  config:
    source: configmap
    configmap:
      name: "sygna-hub-backend-config"

serviceAccount:
  create: true
  # IMPORTANT: This annotation enables IRSA.
  # The ARN should be for a role with permissions to read from Parameter Store.
  annotations:
    eks.amazonaws.com/role-arn: "arn:aws:iam::123456789012:role/Your-EKS-ParamStore-Reader-Role"