# Settings for AWS EKS production environment.

frontend:
  service:
    annotations:
      # --- Frontend Target Group Settings ---
      alb.ingress.kubernetes.io/target-type: ip
      alb.ingress.kubernetes.io/healthcheck-protocol: HTTP
      alb.ingress.kubernetes.io/healthcheck-port: '80'
      alb.ingress.kubernetes.io/healthcheck-path: '/'
      alb.ingress.kubernetes.io/success-codes: "200-399"

  ingress:
    enabled: true
    className: alb
    annotations:
      # --- Load Balancer (Ingress) Settings ---
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/certificate-arn: <Your ACM ARN>
      alb.ingress.kubernetes.io/group.name: sygna-hub-group
      
    hosts:
      - host: <Your host name>
        paths:
          - path: /v1
            pathType: Prefix
            backend:
              service:
                name: sygna-hub-sygna-hub-helm-hub-backend # fix this if name is different from your env
                port:
                  number: 8080
          - path: /
            pathType: Prefix
            backend:
              service:
                name: sygna-hub-sygna-hub-helm-hub-frontend # fix this if name is different from your env
                port:
                  number: 80
  env:
    BACKEND_API_URL: "https://<Your host name>/v1"

backend:
  ingress:
    enabled: false
    
  service:
    annotations:
      # --- Backend Target Group Settings ---
      alb.ingress.kubernetes.io/target-type: ip
      alb.ingress.kubernetes.io/healthcheck-protocol: HTTP
      alb.ingress.kubernetes.io/healthcheck-port: '8080' # 補上 port
      alb.ingress.kubernetes.io/healthcheck-path: "/v1/vasp-server-status"
      alb.ingress.kubernetes.io/success-codes: "200-399"

  persistence:
    logs:
      enabled: false

  config:
    source: configmap
    configmap:
      name: "sygna-hub-backend-config"

serviceAccount:
  create: true
  annotations:
    eks.amazonaws.com/role-arn: "<Your eks role arn>"