{{- if eq .Values.backend.config.source "environment" -}}
apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: {{ include "sygna-hub.fullname" . }}-backend-spc
spec:
  provider: aws
  parameters:
    objects: |
      {{- range $key, $value := .Values.backend.config.environment.parameters }}
      - objectName: "{{ $.Values.backend.config.environment.parameterStoreBasePath }}/{{ $key }}"
        objectType: "ssmparameter"
        objectAlias: "{{ $key }}"
      {{- end }}
  secretObjects:
    - secretName: {{ .Values.backend.config.environment.kubernetesSecretName }}
      type: Opaque
      data:
        {{- range $key, $value := .Values.backend.config.environment.parameters }}
        - key: {{ $key }}
          objectName: {{ $key }}
        {{- end }}
{{- end }}